header{
    width: 100%;
    position: sticky;
    z-index: 99999;
}

.container-he{
    display: flex;    
    padding: 10px 190px;
    justify-content: space-between;
    align-items: center;
    
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar ul a{
    text-decoration: none;
    color: black;
}


.icon-h img{
    width: 110px;
}

.icon-s{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-s a{
    display: flex;
}

.icon-s img{
    margin-right: 20px;
    opacity: 0.8;
    width: 45px;
}

.toggle{
    display: none;
}

@media screen and (max-width: 1120px){

    .container-he{
           
        padding: 10px 50px;
        
    }

}

@media screen and (max-width: 768px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90px;

    }

    .icon-h img{
        width: 150px;
    }

    .container-he{
        padding: 10px 30px;
    }

    .toggle button{
        border: none;
        background: none;
    }

    .toggle img{
        max-height: 45px;

    }

    header .navbar nav, header .icon-s{
        display: none;
    }

    header .toggle{
        display: block;
    }
}

@media screen and (max-width: 375px){

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90px;

    }

    .icon-h img{
        width: 100px;
    }

    .container-he{
        padding: 10px 30px;
    }

    .toggle button{
        border: none;
        background: none;
    }

    .toggle img{
        max-height: 30px;

    }

    header .navbar nav, header .icon-s{
        display: none;
    }

    header .toggle{
        display: block;
    }

}