.works-section{
    height: 100vh;
    scroll-snap-align: center;
}

.container-works{
    padding: 10px 150px;
    height: 100%;
    display: flex;
}

.container-works .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.container-works .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.container-works ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-works ul li{
    display: flex;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px #693a8d;
    position: relative;
}

.container-works ul li::after{
    content: attr(texto);
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(101, 89, 133);
    width: 0;
    overflow: hidden; /* Para ocultar el texto antes del hover */
    transition: width 0.7s linear; /* Agregar una transición para el cambio de ancho */
    white-space: nowrap;
}

.container-works ul li:hover::after {
    width: 100%; /* Al pasar el mouse por encima, se animará el ancho al 100% */

}

@media screen and (max-width: 1560px){
    .container-works{
        padding: 10px 50px;

    }

    .container-works ul li{
        font-size: 70px;
    }
}

@media screen and (max-width: 1050px){
    .container-works{
        padding: 10px 10px;

    }

    .container-works ul li{
        font-size: 70px;
    }
}

@media screen and (max-width: 947px){
    .container-works{
        padding: 10px 5px;
        
    }

    .container-works ul li{
        font-size: 60px;
    }
}

@media screen and (max-width: 768px){


    .container-works ul{
        width: 100%;
    }

    .container-works ul li{
        font-size: 50px;
    }

    .container-works .right{
        display: none;

    }

    .container-works .left{
        width: 100%;

    }
    
}

@media screen and (max-width: 448px){

    .container-works ul li{
        font-size: 40px;
    }

    
}

@media screen and (max-width: 375px){

    .container-works{
        padding: 0 0;
        
    }

    .container-works ul{
        width: 100%;
    }

    .container-works ul li{
        font-size: 40px;
    }

    .container-works .right{
        display: none;

    }

    .container-works .left{
        width: 100%;

    }
    
}