@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Mono&family=Source+Code+Pro&family=Work+Sans:wght@400;700&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.bnav{
  width: 100px;
  padding: 10px;
  background-color: #da4ea2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}


